// tabs
$tabs-item-min-width: 24px !important;
$tabs-item-padding: 0 5px !important;

// expansion-panel
$expansion-panel-content-padding: 2px;
$expansion-panel-header-padding: 8px 24px !default;
$expansion-panel-header-min-height: 24px !default;
$expansion-panel-active-header-min-height: 32px !default;
